@model PatientTrackingSite.ViewModels.PrescriptionViewModel

@{
    ViewData["Title"] = "Write Prescription";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<h2 class="mb-4">Write Prescription</h2>

@if (TempData["ValidationError"] != null)
{
    <div class="alert alert-danger">
        @TempData["ValidationError"]
    </div>
}


<form asp-action="CreatePrescription" method="post" class="bg-white p-4 shadow rounded">
    <div class="mb-3">
        <label asp-for="SelectedPatientId" class="form-label">Patient</label>
        <select asp-for="SelectedPatientId" class="form-select" asp-items="Model.PatientList">
            <option value="">-- Select Patient --</option>
        </select>
        <span asp-validation-for="SelectedPatientId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="MedicationName" class="form-label">Medication Name</label>
        <input asp-for="MedicationName" class="form-control" />
        <span asp-validation-for="MedicationName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Dosage" class="form-label">Dosage</label>
        <input asp-for="Dosage" class="form-control" />
        <span asp-validation-for="Dosage" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Instructions" class="form-label">Usage Instructions</label>
        <textarea asp-for="Instructions" class="form-control"></textarea>
        <span asp-validation-for="Instructions" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"   />
}