@model PatientTrackingSite.ViewModels.DiseaseCreateViewModel

@{
    ViewData["Title"] = "Hastalık Düzenle";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<h2 class="mb-4">Tanıyı (Hastalığı) Düzenle</h2>

<form asp-action="EditDisease" method="post" class="bg-white p-4 shadow rounded">
    <input type="hidden" asp-for="SelectedPatientId" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Hastalık Adı</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Açıklama</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Kaydet</button>
    <a asp-action="PatientDetails" asp-route-id="@Model.SelectedPatientId" class="btn btn-secondary ms-2">İptal</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"   />
}