@{

    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
    var fullName = Context.Session.GetString("UserName") + " " + Context.Session.GetString("UserLastName");
}

<h2 class="mb-4">Welcome, @fullName !</h2> 